$ltGrey: #bab9b7;
$grey: #717170;
$taupe: #413c38;
$copper: #945845;
$chocolate: #201814;
$tape: rgba(186, 185, 183, 0.35);

$tkcheading: 60px;
$pageHeadings: 100px;
$quote: 1.5rem;
$menuItems: 35px;
$gotoBtn: 30px;

//VARIABLES

$heading1920: 150px;
$heading1920h: 140px;
$headingXXL: 100px;
$headingXL: 80px;
$headingL: 60px;
$headingM: 50px;
$headingS: 40px;
$headingXS: 30px;
$headingXXS: 1.5rem;//24px